<%= form_with(url: '/import-data', method: 'post', local: true, multipart: true) do |form| %>
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4">Kết nối CSDL và Import Excel</h2>

    <div class="mb-4">
      <%= form.label :host, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :host, class: "mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500", required: true %>
    </div>

    <div class="mb-4">
      <%= form.label :username, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :username, class: "mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500", required: true %>
    </div>

    <div class="mb-4">
      <%= form.label :password, class: "block text-sm font-medium text-gray-700" %>
      <%= form.password_field :password, class: "mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500", required: true %>
    </div>

    <div class="mb-4">
      <%= form.label :database, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :database, class: "mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500", required: true %>
    </div>

    <div class="mb-4">
      <%= form.label :adapter, class: "block text-sm font-medium text-gray-700" %>
      <%= form.select :adapter, options_for_select([["Chọn adapter", ""], ["MySQL2", "mysql2"], ["PostgreSQL", "postgresql"], ["SQLite3", "sqlite3"], ["SQLServer", "sqlserver"]]), class: "mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500", required: true %>
    </div>
    <div class="mb-4">
      <%= form.label :'Sheet start', class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :cancel_sheet, class: "mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500", required: true %>
    </div>

    <div class="mb-4">
      <%= form.label :file, class: "block text-sm font-medium text-gray-700" %>
      <%= form.file_field :file, class: "mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500", required: true %>
    </div>

    <div class="mb-4">
      <%= form.submit "Kết nối và Import", class: "w-full bg-indigo-600 text-white py-3 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50" %>
    </div>
  </div>
<% end %>
