<% content_for :title, "Check database" %>
<div class="container mx-auto p-4">
  <div class="flex flex-wrap space-y-4 md:space-y-0 md:space-x-4">
    <div class="flex-1">
      <h1 class="text-2xl font-bold mb-4">Nhập thông tin kết nối cơ sở dữ liệu</h1>
      <%= form_with url: connect_database_url, method: :post, remote: true,local: false, id: 'database-connection-form' do |f| %>
        <div class="mb-4">
          <label for="host" class="block text-lg font-medium text-gray-700">Host:</label>
          <%= f.text_field :host, required: true, class: "block w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300" %>
        </div>

        <div class="mb-4">
          <label for="username" class="block text-lg font-medium text-gray-700">Username:</label>
          <%= f.text_field :username, required: true, class: "block w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300" %>
        </div>

        <div class="mb-4">
          <label for="password" class="block text-lg font-medium text-gray-700">Password:</label>
          <%= f.password_field :password, class: "block w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300" %>
        </div>

        <div class="mb-4">
          <label for="database" class="block text-lg font-medium text-gray-700">Name Database:</label>
          <%= f.text_field :database, required: true, class: "block w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300" %>
        </div>

        <div class="mb-4">
          <label for="adapter" class="block text-lg font-medium text-gray-700">Adapter:</label>
          <%= f.select :adapter, options_for_select([%w[PostgreSQL postgresql], %w[MySQL mysql2]]), required: true, class: "block w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300" %>
        </div>

        <div class="mb-4 hidden" id="progress-container">
          <div class="w-full bg-gray-200 rounded-full">
            <div id="progress-bar" class="bg-blue-500 text-xs font-medium text-center text-white p-0.5 leading-none rounded-full" style="width: 0%;">0%</div>
          </div>
        </div>

        <div class="flex justify-center">
          <%= f.submit "Connection", class: "bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600", name:"btn-connect", id:"connection" %>
        </div>
      <% end %>
    </div>

    <div class="flex-1">
      <h1 class="text-2xl font-bold mb-4">Nhập file muốn check</h1>
      <%= form_with url: read_excel_path, method: :post, remote: true,local: false, id: 'read-file-excel', multipart: true do |f| %>
        <div class="mb-4">
          <label for="cancel_sheet" class="block text-lg font-medium text-gray-700">
            Sheet Start
            <span class="ml-2 text-blue-500 cursor-pointer" title="Là số sheet bắt đầu  mà bạn muốn bỏ quá VD: Bạn muốn bỏ qua 2 sheet đầu tiên thì nhập 2 vô ">?</span>
          </label>
          <%= f.text_field :cancel_sheet, required: true, class: "block w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300" %>
        </div>

        <div class="mb-4">
          <label for="file" class="block text-lg font-medium text-gray-700">
            <span class="text">file</span>
            <span class="ml-2 text-blue-500 cursor-pointer" title="Link file phải được để dưới dạng công khai">?</span>
          </label>
          <div id="file-upload-field1" class="<%= params[:link].present? ? 'hidden' : 'block' %> mt-1">
            <%= f.file_field :file, class: "block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
          </div>

          <div id="link-input-field1" class="<%= params[:link].present? ? 'block' : 'hidden' %> mt-1">
            <%= f.text_field :link, placeholder: "Paste your link here", class: "block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
          </div>

          <%= f.hidden_field :upload_type, id: "upload_type1", value: params[:link].present? ? 'link' : 'file' %>

          <button type="button" id="toggle-upload-type1" class="mt-2 text-indigo-500 hover:text-indigo-700">
            <%= params[:link].present? ? 'Upload File ' : 'Use Link' %>
          </button>
        </div>
        <div class="mb-4 hidden" id="progress-container2">
          <div class="w-full bg-gray-200 rounded-full">
            <div id="progress-bar2" class="bg-blue-500 text-xs font-medium text-center text-white p-0.5 leading-none rounded-full" style="width: 0%;">0%</div>
          </div>
        </div>

        <div class="flex justify-center">
          <%= f.submit "Read", class: "bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 mt-2" ,id:'btn-read' %>
        </div>
      <% end %>
      <div class="flex space-x-4 mt-4">
        <button id="btn-compare" type="button" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 disabled:opacity-50 cursor-not-allowed" disabled>So Sánh</button>
        <button id="btn-show" type="button" class="hidden px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800">Danh sách mô tả</button>
        <button id="btn-reset" type="button" class=" px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800">Làm mới</button>

      </div>
    </div>
  </div>

  <div class="mb-8">
    <h2 class="text-2xl font-semibold mt-8 text-center">Danh sách bảng trong file SQL:</h2>
    <div id="list-container" class="flex flex-wrap justify-center gap-6 mt-4"></div>
  </div>

  <div id="differences-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg shadow-lg max-w-2xl w-full h-[80%] max-h-[80%] overflow-y-auto p-6">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold text-gray-700">Danh sách mô tả </h3>
        <button id="close-modal" class="text-gray-500 hover:text-red-500">&times;</button>
      </div>
      <div id="differences-container" class="space-y-2"></div>
      <div class="mt-4 text-right">
        <button id="close-modal-btn" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Đóng</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'action' %>
<script>
    document.getElementById('toggle-upload-type1').addEventListener('click', function () {
        const fileUploadField = document.getElementById('file-upload-field1');
        const linkInputField = document.getElementById('link-input-field1');
        const toggleButton = document.getElementById('toggle-upload-type1');
        const uploadTypeInput = document.getElementById('upload_type1');

        if (fileUploadField.classList.contains('hidden')) {
            fileUploadField.classList.remove('hidden');
            linkInputField.classList.add('hidden');
            toggleButton.textContent = 'Use Link ';
            uploadTypeInput.value = 'file';
        } else {
            fileUploadField.classList.add('hidden');
            linkInputField.classList.remove('hidden');
            toggleButton.textContent = 'Upload File';
            uploadTypeInput.value = 'link';
        }
    });

</script>